{
  "parser": "babel-eslint",
  "extends": ["plugin:flowtype/recommended", "plugin:react/recommended"],
  "plugins": ["flowtype", "react"],
  "rules": {
    "flowtype/no-types-missing-file-annotation": 0
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "react": {
      "version": "detect"
    }
  }
}
